// Variables
// Colors

$primary: #B68E74;
$color-cta: #CE9A63;

$color-bg: #181818;
$color-brown-light: #A29A95;
$color-brown-dark: #6E6665;
$color-brown-01: #EDE1DA;

$color-grey-01: #5a5957;
$color-grey-02: #C8C8C8;
$color-grey-light: #262524;
$color-grey-medium: #292929;
$color-grey-dark:#1F1F1F;
$color-black: #060606;



$color-red: #aa020d90;

$black-transparent: #00000080;

// Various

$border: 1px solid #B68E74;


// Bootstrap

$accordion-button-color: #B68E74;


