@import "./scss-starter/mixins";
@import "./scss-starter/variables";
@import "./scss-starter/css-resets.scss";

/* Components */
@import "./components/BurgerMixin.scss";
@import "./components/Burger.scss";
@import "./components/Navbar.scss";

html,body,main{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}